<nav class="nav flex-column">
  <a class="nav-item nav-link active" href="#">Active</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link disabled" href="#">Disabled</a>
  <a class="nav-item nav-link" routerLink="hello" routerLinkActive="active">hello</a>
  <a class="nav-item nav-link" routerLink="goodbye" routerLinkActive="active">goodbye</a>
  <a class="nav-item nav-link" routerLink="lazy" routerLinkActive="active">lazy</a>
  <a class="nav-item nav-link" routerLink="eager" routerLinkActive="active">eager</a>
</nav>